<section>
  <div class="container">
    <div class="row">
      <h1 class="text-center col-xs-12">
        All Players
      </h1>
    </div>  
      <div class="row">
        <h2 class="text-center col-xs-12">
          <%= link_to "Add New Badders Player", new_player_path %>
        </h2>
    </div> 
  </div>  

</section> 
<section >
  <div class="container">
    <div class="row">
      <table class="table-striped col-xs-12 text-center">
        <thead>
          <tr>
            <td>
              <h2>
                Firstname
              </h2>
            </td>
            <td>
              <h2>
                Lastname
              </h2>
            </td>
            <td>
              <h2>
                Nickname
              </h2>
            </td>
            <td>
              <h2>
                Singles W/L
              </h2>
            </td>
            <td>
              <h2>
                Doubles W/L
              </h2>
            </td>
            <td>
              <h2>
                Something else  
              </h2>
            </td>
          </tr>
        </thead>
        <tbody>
          <% @players.each do |player| %>
              <tr<% link_to "Make whole row a link??" %>>
                <td>
                  <h3>
                    <%= link_to player.firstname, player_path(player.id) %>
                  </h3> 
                </td>
                <td>
                  <h3>
                    <%= player.lastname %>
                  </h3> 
                 </td>
                <td>
                  <h3>
                    <%= player.nickname %>
                  </h3> 
                </td>
                <td>
                  <h3>
                    <%= player.singles_wins %>
                    /
                    <%= player.singles_losses %>
                  </h3> 
                </td>
                <td>
                  <h3>
                    <%= player.doubles_wins %> 
                    /
                    <%= player.doubles_losses %>
                  </h3> 
                </td>
                <td>
                  <h3>
                    <%= player.nickname %>
                  </h3> 
                </td>
              </tr> 
            <% end %>
        </tbody>
      </table>
    </div>  
  </div>
</section> 